.banner{
	background-image: url(../images/DRIVEFORLYFT.jpg);
	width: 100vw;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo-small{
	width: 50px;
	height: 40px;
	margin-left: -24px;
}
div nav ul {
	overflow:hidden;
	list-style:none;
	background-color: white;
}
div nav ul li {
	float:left;
}
div nav ul li a {
	color: #434242;
	padding:20px;
	display:block;
	text-decoration:none;
}
.titulo{
	color: white;
	font-weight:bold;
	margin-top: -20;
    padding: 50px;
}
.input-va{
	margin-top: -55px;
	margin-left: 90px;
	border-radius: 10px;
	border: none;
}
.texto1{
	font-size: 12px;
	margin: 5px;
	color: #C7C3C3;
}
/*br*/
.divider{
	border-bottom: 1px solid #CAC7C7;
	margin-bottom: 15px;
}
.boton-contact{
	border-radius: 5px;
	background-color: #FA0AC4;
	border: none;
	color: white;
	margin-left:119px;
	padding:5px;
}
ul li{
	color: #FA0AC4;
	text-decoration: none;
	list-style: none;
	font-size: 11px;
}
footer{
	background-color: #CAC7C7;
	height: 50px;
	margin-top: 10px;
}

a {
    color: #555555;
    text-decoration: none;
}
.espacio{
	margin-bottom: 20px;
}