0/*br*/
.divider{
	border-bottom: 1px solid #EFF1F5;
	margin-bottom: 15px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.linea{
border-bottom: 1px solid #ABA9A9;
}
/*login*/
.next-boton:hover{
	color: white;
    text-decoration: none;
}
.next-boton{
	color: white;
}
.next{
	background-color: #FA0AC4;
	color: white;
	height: 100px;
    margin-top: 75px;
}
.next-titulo{
	padding: 12px;
}
.form-control{
	width: 120px;
	display: inline-block;
}
.fa-angle-left{
	color: gray;
	text-orientation: none;
}

.input-group {
    margin-bottom: 10px;
}

.alert-error{
  -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  font-size: 15px;
  margin-top: 12px;
  margin-left: 157px;
  padding: 7px;
  position: absolute;
  z-index: 30;
}