/*pimer html*/
.banner{
	background-image: url(../images/lyftpresskit02.jpg);
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.boton{
	width: 100%;
	position: fixed;
    margin: auto;
    top: 80%;

}
.btn-pri{
	background: transparent;
	width: 138px;
	height: 50px;
	border-color: white;
	font-size: 20px;
	margin-right: 18px;
	margin-left:-5px;
	border-radius: 5px;
}
.btn-pri:hover{
	background: -webkit-linear-gradient(#7500BF , #E000BF );
   background: -o-linear-gradient(#7500BF , #E000BF );
   background: linear-gradient(#7500BF , #E000BF );
	opacity: 0.8;
	color:white;
	border-color: #7500BF;
}
.flecha-iz{
	font-size: 28px;
	color: gray;
	top: 28px;
	left: 15px;
}
.logo{
	width: 120px;
	height: 100px;
	margin-top: 20px;
}
/*segundo html*/
.ico-chile{
	width:20px;
	height: 15px; 
}
.p{
	color:gray;
	padding-top: 20px;
}

.pais{
	margin-left:100px;
}
.bandera{
	width: 30px;
	height: 20px;
	padding: 2px;
	margin-right: 10px;
}
.dropdown{
	left: -5px;
	background-color: white;
	border: 1px ;
	display: inline-block;

}
.next-boton:hover{
	color: white;
    text-decoration: none;
}
.next-boton{
	color: white;
}
.next{
	background-color: #FA0AC4;
	color: white;
	height: 100px;
    margin-top: 75px;
}
.next-titulo{
	padding-top: 20px;
}
.form-control{
	width: 120px;
	display: inline-block;
}
/*tercera parte*/
.p-tree{
	background-color: #E8E7EC;
	padding: 5px;
}
.cerrar{
	color: gray;
	font-size: 15px;

}
/*profile*/
.profile-img{
	width: 500px;
	height: 300px;
}
/*telefono*/
.phone{
    margin-top: 15px;
    background: #fff;
}
.tel{
    margin-bottom: 10px;
    margin-top: 10px
    border: 1px solid #9e9e9e;
    border-radius: 0px;
}
.num{
    border: 1px solid #9e9e9e;
    height: 80px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 10px;
}
.num:hover{
    background-color: #9e9e9e;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.txt{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    font-family: 'Lato' , sans-serif;
    line-height: 30px;
    color: #333;
}
.small{
    font-size: 15px;
}

.btn{
    font-weight: bold;
    -webkit-transition: .1s ease-in background-color;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.btn:hover{

    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
p{
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 20px;
}
.boton-tel{
	margin-top: 5px;
	margin-bottom: 5px;
}
.vacio{
	background-color: #CEC8C8;
}
/*banderas*/
.div-banderas{
	border-bottom: 1px solid #9e9e9e;
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
}
.caret{
	color: black;
}
/*br*/
.divider{
	border-bottom: 1px solid #EFF1F5;
	margin-bottom: 15px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.linea{
border-bottom: 1px solid #ABA9A9;
}
/*map1*/
.logo-small{
	width: 45px;
    height: 35px;
}
.pickup{
	background-color: #CDC4E3;
    border-radius: 10px;
    width: 320px;
    color: white;
    padding: 10px;
    border-style: none;
    font-size: 18px;
}
/*perfil*/
.perfil-pic{
	background-image: url(../images/profile-default.jpg);
	height: 400px;
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	margin:0px;
}
.box-sky{
	background-color: #F4F5F6;
    height: 37px;
    padding: 10px;
    width: 310px;
    margin-bottom: 10px;
    margin-left: 18px;
}
/*login*/
.form-group{
	width:350px; 
}
.email-in{
	margin-left: 15px;
	width: 350px;
}