/*pimer html*/
.banner{
	background-image: url(../images/lyftpresskit02.jpg);
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.boton{
	width: 100%;
	position: fixed;
    margin: auto;
    top: 80%;
}
.btn-pri{
	background: transparent;
	width: 25%;
	height: 85px;
	border-color: white;
	font-size: 20px;
	margin:8px;
}
.btn-pri:hover{
	background: -webkit-linear-gradient(#7500BF , #E000BF );
   background: -o-linear-gradient(#7500BF , #E000BF );
   background: linear-gradient(#7500BF , #E000BF );
	opacity: 0.8;
	color:white;
	border-color: #7500BF;
}
.flecha-iz{
	font-size: 28px;
}
.logo{
	width: 120px;
	height: 100px;
	margin-top: 20px;
}
/*segundo html*/
.ico-chile{
	width:20px;
	height: 15px; 
}
.titule-1{
	display: inline;
}
.p{
	color:gray;
	padding-top: 20px;
}

.pais{
	margin-left:100px;
}
.next{
	background-color: #FA0AC4;
	color: white;
	height: 100px;
    margin-top: 200px;
}
.next-titulo{
	padding-top: 30px;
}
