.banner{
	background-image: url(../images/lyftpresskit02.jpg);
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.boton{
	width: 100%;
	position: fixed;
    margin: auto;
    top: 80%;
}
.btn{
	background: transparent;
	width: 25%;
	height: 85px;
	border-color: white;
	font-size: 20px;
	margin:8px;
}
.btn:hover{
	background-color:#FA0AC4;
	opacity: 0.8;
	color:white;
	border-color: #FA0AC4;
}


.logo{
	width: 100px;
	height: 80px;
}