.fa-times{
	    margin-left: 185px;
}
.defaul-small{
	width: 52px;
    height: 53px;
    border-radius: 100px;
    border: 1px #CEC8C8 double;
    padding: 5px;
    background-color: white;
}
.pickup{
	background-color: #A1A1A3;
	border-radius: 10px;
	width: 320px;
	color: white;
	padding: 10px;
	border-style: none;
	font-size: 18px;
	margin-left: 16px;
}
.logo-small{
	width: 70px;
	height: 60px;
	position: absolute;
    max-width: 100%;
    z-index: 4;
    margin-top: 15px;
    left: 150px;
}
.arriba{
	position: absolute;
	z-index: 3
}
.arriba2{
	position: absolute;
    max-width: 100%;
    z-index: 2;
}
/*menu*/

* {
	margin:0;
	padding:0;
}
div nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}
.menu_bar {
	display:none;
}
div nav ul {
	overflow:hidden;
	list-style:none;
	background-color: white;
}
div nav ul li {
	float:left;
}
div nav ul li a {
	color: #434242;
	padding:20px;
	display:block;
	text-decoration:none;
}
div nav ul li i {
	margin-right:10px;
}
div nav ul li a:hover {
	color:#FA0AC4;
	text-decoration: none;
}
section {
	padding:20px;
}
@media screen and (max-width:800px ) {
	div nav {
		width:60%;
		height:100%;
		left:-100%;
		margin:1px;
		position: fixed;
		z-index: 10;
	}
	div nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid #FA0AC4;
	}
	.menu_bar {
		display:block;
		width:60%;
	}
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		color:#fff;
		text-decoration:none;
		/*font-weight: bold;*/
		font-size:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span {
		float:right;
		font-size:20px;
	}
	.menu-span{
		font-size: 15px;
	}
	.view{
		color: gray;
		font-size: 15px;
		text-align: center;
		margin-top: -10px;
	}
	.defaul-small2{
		width: 71px;
		height: 74px;
		border-radius: 100px;
		border: 1px #CEC8C8 double;
		padding: 5px;
		background-color: white;
		margin-top: -87px;
	}
}
.present-img{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	border: 1px #CEC8C8 double;
	padding: 5px;
	margin-top: 16px;
    background-color: white;
}
.mover {
	margin-right: 15px;
}
footer {
	width: 100%;
	position: absolute;
    bottom: 5%;
}
.input-ubica{
	width: 100%;
	position: absolute;
	margin-top: -47px;
	border-radius: 10px;
	width: 320px;
	padding: 10px;
	border: 2px solid #A1A1A3;
    margin-left: 25px; 
}
