/*segundo html*/
.ico-chile{
	width:20px;
	height: 15px; 
}
.p{
	color:gray;
	padding-top: 20px;
}
.pais{
	margin-left:100px;
}
.bandera{
	width: 30px;
	height: 20px;
	padding: 2px;
	margin-right: 10px;
}
.dropdown{
	left: -5px;
	background-color: white;
	border: 1px ;
	display: inline-block;
}
.fa-angle-left{
	color: gray;
	text-orientation: none;
}
.next-boton:hover{
	color: white;
    text-decoration: none;
}
.next-boton{
	color: white;
}
.next{
	background-color: #FA0AC4;
	color: white;
	height: 100px;
    margin-top: 75px;
}
.next-titulo{
	padding: 12px;
}
.form-control{
	width: 120px;
	display: inline-block;
}
/*br*/
.divider{
	border-bottom: 1px solid #EFF1F5;
	margin-bottom: 15px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.linea{
border-bottom: 1px solid #ABA9A9;
}
/*mati*/
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
#pais {
    display: inline-block;
    color: black;
    font-weight: bold;
    padding: 5px;
}
#pais img {
    width: 40px;
    display: inline-block;
}
#prefijo {
    display: inline-block;
    border: 1px solid #999;
    color: black;
    padding: 5px;
    height: 26px;
    padding: 2px;
    margin-right: -5px;
}
.caret{
	color: black;
}
